{{!-- need to get to saved, and need to get to home --}}

<style>
    .active {
        color: rgb(126, 221, 221);
        font-weight: 600;
    }
</style>

<header>
    <nav class="uk-navbar-container" uk-navbar>

    <div class="uk-navbar-left">

        <ul class="uk-navbar-nav">
            <li class="uk-active"> <a href="/" class="{{#if home}} active {{/if}}">Home</a></li>
            <li><a href="/saved" class="{{#if saved}} active {{/if}} ">Saved Recipes</a></li>
        </ul>

    </div>

    </nav>
</header>

{{!-- now we don't need it on every single page.  --}}