{{>header home=true saved=false}}

{{!-- //here we will render the data onto the DOM --}}
<div class="uk-container">
    <div>
        {{!-- //scrape button so that users don't need to type /scrape --}}
        <button id="scrape" class="uk-button uk-button-default">Scrape for more Deliciousness!</button>
    </div>

    <div class="uk-flex uk-flex-column uk-width-1-2" uk-grid
        uk-scrollspy="cls: uk-animation-slide-bottom; target: .uk-card; delay: 200; repeat: false">
 {{!-- <div style="display:flex"> --}}
        {{#each recipes}}
        {{!-- checking if recipe is saved. we don't want saved --}}
        {{#unless this.saved}}
        <div class="uk-card uk-card-default uk-card-body uk-margin-top" id="recipe-wrap">
            <img src="{{this.image}}" class="uk-align-center">
            <p>{{this.title}}</p>
            <a class="uk-button uk-button-default" href="{{this.link}}" uk-icon="icon: cart; ratio: 1">Cook Me</a>
            <button class="uk-button uk-button-default save-btn" uk-icon="heart" data-rid="{{this._id}}" >Love
                Me</button>
 
        </div>
        {{/unless}}
        {{/each}}



    </div>
</div>

        {{!-- if there are no recipes to be rendered --}}
        {{#unless recipes}}
        <h3>No recipes to display yet!</h3>
        {{/unless}}

<script>
    //click event to hit the scrape route
    $("#scrape").on("click", function () {
        $.get("/scrape", function (response) {
            /*console.log(response); */
            window.location.reload();
            //can put an alert or modal 
        });
    });

    // jquery for save button 
    $(".save-btn").on("click", function () {
        var recipeId = $(this).data("rid");

        //update article state from being unsaved to saved 
        var updateRecipe = {
            saved: true
        }
        //to make sure we can grab the id, comment out ajax call and console log id 
        console.log(recipeId);
        console.log(updateRecipe);

        //losing scope = put this outside in global and call again in parentE
        var self = $(this);
        // communicate with server to update article
        $.ajax({
            url: '/recipe/' + recipeId,
            type: 'PUT',
            data: updateRecipe,
            success: function (result) {
                if (true) {
                    //do something with result
                    //check if result comes back as updated
                    //remove item from dom 
                    var parentElm = self.parent("#recipe-wrap");
                    console.log(parentElm);
                    parentElm.remove();
                }
            }
        })
    })
</script>